.services .container {
    justify-content: flex-start;
    gap: 0px;

}

.services .box {
    width: 33%;
    min-width: 300px;
}


.services .box .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    padding: 1rem 1.5rem;
}


.services .box .item img {
    width: fit-content;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}

.services .box .item a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    text-decoration: none;
    gap: 0.5rem;
}

.services .box .item h6 {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.services .box .item p {
    font-size: 14px;
    line-height: 20px;
    color: #f1f1f1;
}

.border-item {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}