<section class="services bg-dark" id="servicos">
    <div class="heading">
        <h2 class="section-title"><span>Meus Serviços</span></h2>
        <p class="section-title2">{{servico.descricao}}</p>
    </div>
    <div class="container">
        <div *ngFor="let item of servico.servicos" class="box border-item">
            <div class="item">
                <img [src]="item.iconUrl" alt="">
                <h6>{{item.title}}</h6>
                <p>{{item.descricao}}</p>
            </div>
        </div>
    </div>
</section>