<section class="gallery bg-dark" id="trabalhos">
    <div class="heading">
        <h2 class="title">Meus Trabalhos</h2>
    </div>
    <div class="container">
        <ul>
            <!-- <li class="active" data-filter="*">Todos</li> -->
            <li [ngClass]="{'active': selectedCategory === item.categoria}" *ngFor="let item of galeria"
                (click)="filterByCategory(item.categoria)">
                {{ item.categoria }}
            </li>
        </ul>
    </div>

    <div class="container">

        <div class="grid-wrapper">
            <div class="image" [ngClass]="foto.tipo" *ngFor="let foto of fotos">
                <img [src]="foto.fotoUrl" [alt]="" />
            </div>
        </div>

    </div>


    <!-- <div class="container">
        <div class="grid-wrapper">
            <div class="image tall">
                <img src="./assets/images/album/pexels-photo-1055613.jpg" alt="" />
            </div>
            <div class="image wide">
                <img src="./assets/images/album/pexels-photo-1738986.jpg" alt="" />
            </div>
            <div class="image tall">
                <img src="./assets/images/album/pexels-photo-2970287.jpg" alt="" />

            </div>
            <div class="image">
                <img src="./assets/images/album/pexels-photo-1722206.jpg" alt="" />

            </div>
            <div class="image ">
                <img src="./assets/images/album/pexels-photo-3494648.jpg" alt="" />
            </div>
        </div>
    </div> -->
</section>