<footer class="footer">
    <div class="instagram">
        <div class="container">
            <div class="box">
                <h2>Me siga nas redes sociais</h2>
                <p>Posto meus trabalhos no instagram e você pode acompanhar de perto.</p>
            </div>
            <div class="form">
                <div>
                    <a href="https://instagram.com/{{contato.instagram}}">
                        <button type="button">
                            <i class="fab fa-instagram"></i>
                            Ir para o Instagram
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="second-footer">
        <div class="container">
            <div class="box">
                <div class="logo-wrapper">
                    <!-- <a class="logo"> <strong>JR</strong> João Ribeiro </a> -->
                    <a class="logo" href="/"> <strong>{{iniciais}}</strong> {{home.nome}} </a>
                </div>
                <div class="text">
                    <p>Cada clique é uma história capturada, onde a luz encontra a emoção e transforma o momento em
                        eternidade.</p>
                </div>
            </div>
            <div class="box">
                <h3 class="title">Mapa</h3>
                <ul>
                    <li><a href="#sobre">Sobre</a></li>
                    <li><a href="#servicos">Serviços</a></li>
                    <li><a href="#trabalhos">Trabalhos</a></li>
                    <li><a href="#contato">contato</a></li>
                </ul>
            </div>

            <div class="box">
                <h3 class="title">Contato</h3>
                <ul>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>
                            {{contato.telefone}}
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-at"></i>
                        <span>
                            {{contato.instagram}}
                        </span>
                    </li>
                    <li>
                        <span>
                            {{contato.endereco}}
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class=" copyright">
        <div class="box">
            <p class="">Copyright © 2024 by <a href="https://galeite.com" target="_blank">Gabriel Leite</a>. All rights
                reserved.</p>
        </div>
        <div class="box">
            <ul class="social-icons">
                <!-- <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li> -->
                <li><a href="https://www.linkedin.com/in/-gabriel-leite/" target="_blank"><i
                            class="fab fa-linkedin"></i></a></li>
                <li><a href="https://galeite.com" target="_blank"><i class="fab fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</footer>