<footer class="footer">
    <div class="instagram">
        <div class="container">
            <div class="box">
                <h2>Me siga nas redes sociais</h2>
                <p>Posto meus trabalhos no instagram e você pode acompanhar de perto.</p>
            </div>
            <div class="form">
                <div>
                    <button type="button">
                        <i class="fab fa-instagram"></i>
                        Ir para o Instagram
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="second-footer">
        <div class="container">
            <div class="box">
                <div class="logo-wrapper">
                    <!-- <a class="logo"> <strong>JR</strong> João Ribeiro </a> -->
                    <a class="logo" href="/"> <strong>JR</strong> João Ribeiro </a>
                </div>
                <div class="text">
                    <p>Cada clique é uma história capturada, onde a luz encontra a emoção e transforma o momento em
                        eternidade.</p>
                </div>
            </div>
            <div class="box">
                <h3 class="title">Mapa</h3>
                <ul>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#services">Serviços</a></li>
                    <li><a href="#works">Trabalhos</a></li>
                    <li><a href="#contact">contato</a></li>
                </ul>
            </div>

            <div class="box">
                <h3 class="title">Contato</h3>
                <ul>
                    <li>
                        <i class="fa fa-phone"></i>
                        <span>
                            (11) 97763-7563
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-at"></i>
                        <span>
                            joaoribeiro7art
                        </span>
                    </li>
                    <li>
                        <span>
                            Estr. de Itapecerica, 449 - Sala 8 - Vila das Belezas, São Paulo - SP, 05835-001
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <div class=" copyright">
        <div class="box">
            <p class="">Copyright © 2024 by <a href="https://galeite.com">Gabriel Leite</a>. All rights reserved.</p>
        </div>
        <div class="box">
            <ul class="social-icons">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
        </div>
    </div>
</footer>