<section class="contact bg-light" id="contato">
    <div class="container">

        <div class="box">
            <h2 class="title">
                Precisa de ajuda com fotografia profissional? Vamos trabalhar juntos!
            </h2>
            <ul>
                <li>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>{{contato.telefone}}</span>
                </li>
                <li>
                    <i class="fa fa-at" aria-hidden="true"></i>
                    <span>{{contato.instagram}}</span>

                </li>
                <li>
                    <i class="fa fa-location-pin" aria-hidden="true"></i>
                    <span>{{contato.endereco}}</span>
                </li>
            </ul>

        </div>

        <div class="box">
            <div class="box-r">
                <div class="form-box">
                    <div class="form-title">
                        <h2>Entre em contato</h2>
                    </div>
                    <form (ngSubmit)="onSubmit()">
                        <div class="one-line">
                          <div class="box-input">
                            <i class="far fa-user"></i>
                            <input type="text" [(ngModel)]="nome" name="nome" id="" class="text" placeholder="Nome..">
                          </div>
                          <div class="box-input">
                            <i class="fa fa-phone"></i>
                            <input type="text" appPhoneMask name="whatsapp" [(ngModel)]="whatsapp" id="" class="text" placeholder="(00) 00000-0000">
                          </div>
                        </div>
                      
                        <div class="box-input">
                          <i class="fa fa-at"></i>
                          <input type="email" name="email" [(ngModel)]="email" id="" class="text" placeholder="E-mail..">
                        </div>
                        <div class="box-input">
                          <label class="address"><i class="fa fa-comment"></i></label>
                          <textarea name="comentario" id="" cols="30" [(ngModel)]="comentario" rows="5" placeholder="Comentário.."></textarea>
                        </div>
                      
                        <button class="btn-send" type="submit"  [disabled]="isLoading || !isFormValid() || successMessage">
                          <ng-container *ngIf="!successMessage">
                            <span *ngIf="!isLoading">Enviar Contato</span>
                            <span *ngIf="isLoading">Enviado...</span>
                          </ng-container>
                      
                          <ng-container *ngIf="successMessage">
                            <span>Enviado com Sucesso!</span>
                          </ng-container>
                        </button>
                      </form>
                      
                      
                </div>


            </div>

        </div>

    </div>
</section>