<nav class="navbar">
    <div class="container">
        <div class="logo-wrapper">
            <a class="logo" href="/"> <strong>{{iniciais}}</strong> {{home.nome}} </a>
        </div>

        <ul class="navbar-links">
            <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="#servicos">Serviços</a></li>
            <li class="nav-item"><a class="nav-link" href="#trabalhos">Trabalhos</a></li>
            <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
        </ul>
    </div>
</nav>