.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.navbar .logo-wrapper {
    height: 29px;
    overflow: hidden;

}




.navbar .navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar .navbar-links a {
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(200, 200, 200);
    text-decoration: none;
}

.navbar .navbar-links a:hover {
    color: rgb(255, 255, 255);

}